.main-article-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.main-article-grid > * {
  margin: 20px;
}
.main-article-grid .main-img {
  height: 350px;
  grid-column: 1;
  grid-row: 1;
}

.main-article-grid img {
  cursor: pointer;
}

.big-news-card h2 {
  font-size: 1.3em;
  font-weight: bold;
}
.big-news-card h2:hover {
  cursor: pointer;
  color: rgb(0, 170, 0);
}

.big-news-card p {
  margin-top: 15px;
}

.red-pill {
  float: left;
}

.red-pill p {
  float: left;
  margin-top: 5px;
  margin-right: 10px;
  padding: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 20px;
  font-size: small;
  color: white;
  background-color: red;
}

.icon-bar {
  display: flex;
  align-items: center;
  color: green;
  margin-top: 50px;
}

.icon-bar > * {
  margin-right: 20px;
}

.green-pill {
  font-size: small;
  border: 1px solid green;
  border-radius: 20px;
  padding: 5px;
  margin: auto;
}

.green-pill:hover {
  color: white;
  background-color: green;
}

.medium-news-box {
  display: flex;
  flex-direction: column;
}

.medium-news-box:hover {
  color: rgb(0, 170, 0);
}

.medium-news-box img {
  flex-shrink: 0;
  max-width: 100%;
  overflow: hidden;
}
.news-desc {
  display: block;
  padding: 20px;
  font-size: 1.1rem;
  font-weight: bold;
}

.icon {
  font-size: 1.2rem;
  padding: 20px;
  padding-left: 0;
  color: rgb(0, 170, 0);
  cursor: pointer;
}
