.markets-box {
  width: 340px;
}

.markets-box h3 {
  font-weight: bold;
  color: #00b100;
  margin-left: 12px;
  margin-right: 12px;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.markets-box ul {
  overflow-y: scroll;
  list-style-type: none;
  padding: 0px;
}
.markets-box li {
  display: flex;
  font-size: large;
  margin: auto;
  font-weight: bold;
  cursor: pointer;
  margin: 10px;
  padding: 5px;
}
.markets-box h4 {
  flex-grow: 1;
  font-weight: bold;
}
.market-status {
  flex-grow: 1/30;
  font-size: small;
  background-color: #00b100;
  border-radius: 5px;
  margin: 2px;
  padding: 5px;
  text-align: center;
  color: #ffffff;
}

.market-status i {
  text-align: center;
  margin-left: 14px;
  color: #ffffff;
  transform: rotate(-90deg);
}

.mi {
  background-color: red;
}

.mi i {
  transform: rotate(90deg);
}
