.initial-grid {
  position: relative;
  top: -350px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
  justify-content: center;
  gap: 20px;
  box-sizing: border-box;
}

.grid-item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: white;
  padding: 20px;
  overflow: hidden;
}

.grid-item h3 {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.grid-item img {
  flex-shrink: 0;
  margin-bottom: 20px;
}

.grid-item a {
  font-size: 0.8rem;
  font-weight: 600;
  text-decoration: none;
  color: rgb(44, 114, 172);
}

.img-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 180px));
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  margin-bottom: auto;
}

.img-grid .img-item {
  display: flex;
  margin-bottom: 15px;
  flex-direction: column;
  flex-shrink: 1;
  box-sizing: border-box;
  font-size: 0.72rem;
  overflow: hidden;
}

.img-item img {
  align-self: center;
  margin-bottom: 5px;
  cursor: pointer;
}

.img-item p {
  font-weight: 500;
}

.grid-item .item-desc {
  display: flex;
  text-wrap: nowrap;
  flex-wrap: wrap;
  gap: 0.4rem;
  align-items: center;
}

.grid-item .img-container {
  margin-bottom: auto;
}

.grid-item .img-container img {
  margin-bottom: 0px;
}

.grid-item .item-desc p {
  font-size: 0.72rem;
}

.login-grid-item .login-item {
  background-color: white;
  padding: 20px;
}

.login-item button {
  background-color: #ffd814;
  width: 100%;
  padding: 8px 0px;
  border-radius: 8px;
  border: 1px solid #ffd814;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.login-item button:focus {
  background-color: #e2bf13;
}

.items-carousel-item {
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  border: 15px solid white;
  border-bottom: 0px;
  padding-bottom: 10px;
  gap: 10px;
  background-color: white;
}

.items-carousel-item .items-container {
  display: flex;
  gap: 10px;
  box-sizing: border-box;
  overflow-x: scroll;
}

.items-carousel-item .carousel-title {
  padding: 10px 0px;
}

.carousel-title h3 {
  font-size: 1.4rem;
  font-weight: bold;
}

.carousel-title h3 a {
  font-size: 0.8rem;
  text-decoration: none;
  color: rgb(44, 114, 172);
}

.items-container .carousel-item {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 240px;
  box-sizing: border-box;
  gap: 20px;
}

.img-wrapper {
  padding: 0px;
  background-color: rgb(0, 0, 0);
}

.img-wrapper img {
  box-sizing: border-box;
  background-color: white;
  padding: 8px;
  width: 100%;
  height: 100%;
  opacity: 95%;
}

.items-container .item-desc {
  display: flex;
  flex-direction: column;
  text-wrap: nowrap;
  overflow: hidden;
  gap: 5px;
}

.item-desc .discount {
  align-self: flex-start;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 5px;
  background-color: #cc0c39;
  color: white;
}

.item-desc .limited-time-offer {
  font-size: 0.8rem;
  color: #cc0c39;
  font-weight: bold;
}

.item-price .current-price {
  font-weight: bold;
}

.item-price .current-price ~ span {
  font-size: 0.8rem;
  color: rgb(50, 50, 50);
}

.item-price .recommended-price {
  text-decoration: line-through;
}

.item-desc .item-full-desc {
  font-size: 0.8rem;
}
