.search-bar {
  display: flex;
  height: 80%;
  margin: auto;
  border-radius: 8px;
  overflow: visible;
}

#drop-btn {
  background-color: #ebebeb;
}

.search-bar input:focus {
}

.dropdown-category {
  position: relative;
  display: inline-block;
  overflow: visible;
}

.dropdown-category button {
  background-color: rgb(190, 190, 190);
  color: rgb(0, 0, 0);
  font-size: 0.8rem;
  height: 100%;
  padding: 0px 10px;
  cursor: pointer;
  accent-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ebebeb;
  min-width: 200px;
  /*box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);*/
  z-index: 1;
}

.dropdown-content p {
  color: black;
  padding: 5px 2px;
  text-decoration: none;
  display: block;
}

.dropdown-content p:hover {
  background-color: #f1f1f1;
}

.dropdown-category:hover .dropdown-content {
  display: block;
}

.dropdown-category:hover .dropbtn {
  background-color: #3e8e41;
}

.search-bar button {
  background-color: bisque;
}

.search-bar button:hover {
  background-color: rgb(232, 208, 178);
}
