.search-bar {
  display: flex;
  flex-wrap: nowrap;
  height: 70%;
  width: 80%;
  margin: auto 10px;
  border-radius: 8px;
  overflow: hidden;
}

.categories {
  flex-shrink: 0;
}

.dropdown-category {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  background-color: #ebebeb;
  cursor: pointer;
}

.dropdown-category:hover {
  background-color: #bcbcbc;
}

#drop-btn {
  height: 100%;
  color: rgb(0, 0, 0);
  font-size: 0.8rem;
  padding: 0px 10px;
  align-self: center;
  text-wrap: nowrap;
}

.search-bar input {
  margin: 0;
  flex-grow: 1;
  /* Removing default styles*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-bar input:focus {
}

#search-btn {
  flex-shrink: 0;
  background-color: #febd69;
  padding: 0px 5px;
}

#search-btn:hover {
  cursor: pointer;
  background-color: rgb(232, 208, 178);
}

#search-nav-logo {
  display: flex;
  box-sizing: border-box;
  width: 40px;
  height: 48px;
  margin: 0;
  background: url(../../assets/sprite1x.png) -2px -280px;
  margin-top: 4px;
}

.fa-caret-down {
  color: #666;
  align-self: center;
}
